/* Table of Contents
----------------------------------

0- Global CSS
1- Heading CSS
2- Button CSS
3- Header Area CSS
4- Home Area CSS
5- About Area CSS
6- Services Area CSS
7- Currently Working On CSS
8- Contact Area CSS
9- Newsletter Area CSS
10- Footer Area CSS
11- Scroll-Top Area CSS

*/


/*--------------------- 0- Global CSS (Start) ---------------------*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Viga&display=swap');


:root {
    --darkgreen: #BC8CF2;
    --green: #00FDC2;
    --darkgreen: #00A981;
    --white: #F7F5F2;
    --black: #020202;
    --grey: #005843;

    --titles-font-family: "Viga", sans-serif;
    --font-family: "Montserrat", sans-serif;

    --min-width: 390
}

* {
    font-family: var(--font-family);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

*::selection {
    color: var(--black);
    background-color: var(--darkgreen);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background-color: var(--white);
}

section {
    padding: 2rem 5%;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--darkgreen);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

.swiper-pagination-bullet {
    height: 1rem;
    width: 1rem;
    border-radius: 50rem;
    background-color: var(--grey);
}

.swiper-pagination-bullet-active {
    width: 3rem;
    background: var(--darkgreen);
}

/*--------------------- 0- Global CSS (End) ---------------------*/



/*--------------------- 1- Heading CSS (Start) ---------------------*/
.heading {
    margin-bottom: 2rem;
}

.heading h2 {
    font-family: var(--titles-font-family);
    text-align: center;
    padding-bottom: 2rem;
    color: var(--darkgreen);
    font-size: 4rem;
}

.heading h2 span {
    font-family: var(--titles-font-family);
    position: relative;
    z-index: 0;
    color: var(--black);
}

.heading h2 span::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    z-index: -1;
    background: var(--darkgreen);
    height: 0.2rem;
    width: 80%;
    margin-left: 10%;
}

/*--------------------- 1- Heading CSS (End) ---------------------*/



/*--------------------- 2- Button CSS (Start) ---------------------*/
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--darkgreen);
    background-color: transparent;
    border: 0.2rem solid var(--darkgreen);
}

.btn i {
    padding-left: 1rem;
}

.btn:hover {
    color: var(--black);
    background-color: var(--darkgreen);
    cursor: pointer;
}

/*--------------------- 2- Button CSS (End) ---------------------*/



/*--------------------- 3- Header Area CSS (Start) ---------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 999;
}

header.sticky {
    border-bottom: 0.1rem solid var(--darkgreen);
    /* background: rgba(255, 255, 255, 0.8); */
    background: var(--white);
    opacity: 0.9;
}

header .logo h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--darkgreen);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

header .navbar a {
    color: var(--black);
    font-size: 1.8rem;
    margin-left: 3rem;
}

header .navbar a:hover,
header .navbar a.active {
    color: var(--darkgreen);
}

header #menu-btn {
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    display: none;
}

header .fa-times {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

header #menu-btn:hover {
    color: var(--darkgreen);
}

/*--------------------- 3- Header Area CSS (End) ---------------------*/


/* TEMP */


/*CSS3 Animation Effects for Magnific Popup*/

/* start state */
.mfp-newspaper .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-transform: scale(0) rotate(500deg);
    transform: scale(0) rotate(500deg);
}

.mfp-newspaper.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* animate in */
.mfp-newspaper.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.mfp-newspaper.mfp-ready.mfp-bg {
    opacity: 0.8;
}

/* animate out */
.mfp-newspaper.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0) rotate(500deg);
    transform: scale(0) rotate(500deg);
    opacity: 0;
}

.mfp-newspaper.mfp-removing.mfp-bg {
    opacity: 0;
}


/*--------------------- 4- Home Area CSS (Start) ---------------------*/
.home {
    padding: 0rem 5%;
    margin-top: 80px;
    background-color: var(--white);
    min-height: 100vh;
}

.home .box-container {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.home .carousel-container {
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    /* width: 500px;
    height: 300px;
    position: relative;
    margin: auto;
    overflow: hidden; */
}

.home .carousel-container img {
    /* height: 40rem;
    width: 40rem;
    object-fit: scale-down; */
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    /* position: absolute; */
    /* opacity: 0; */
    transition: opacity 1s ease-in-out, transform 1s ease-out; /* Transición de entrada/salida */
}

.visible {
    opacity: 1;
    transform: translateX(0px);
}

.invisible {
    opacity: 0;
    transform: translateX(-50px); 
}

.home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 7rem;
}

.home .content h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--darkgreen);
}

.home .content h1 {
    font-family: var(--titles-font-family);
    font-size: 6rem;
    color: var(--black);
    padding: 1rem 0;
    text-transform: none;
}

.home .content h1 span {
    font-family: var(--titles-font-family);
    color: var(--darkgreen);

}

.home .content p {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--black);
    padding-bottom: 2rem;
    line-height: 1.5;
}

/*--------------------- 4- Home Area CSS (End) ---------------------*/



/*--------------------- 5- About Area CSS (Start) ---------------------*/
.about .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.about .image {
    width: 32rem;
    text-align: center;
}

.about .image img {
    width: 100%;
    border: 1rem solid var(--darkgreen);
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 55rem;
    flex: 1 1 55rem;
}

.about .content h2 {
    font-size: 3rem;
    color: var(--black);
    padding-bottom: 1rem;
}

.about .content>p {
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-bottom: 1rem;
}

.about .content .about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}

.about .content .about-info .info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15rem;
    flex: 1 1 15rem;
}

.about .content .about-info .info h4 {
    font-size: 1.6rem;
    color: var(--black);
    padding-bottom: 1rem;
}

.about .content .about-info .info span {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grey);
}

.about .content .about-info .info .btn {
    margin-top: 1rem;
}

.counting {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35rem;
    flex: 1 1 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}

.counting .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 18rem;
    flex: 1 1 18rem;
    text-align: center;
    background-color: #222;
    padding: 2rem;
}

.counting .box .count {
    font-size: 3.5rem;
    color: var(--darkgreen);
    padding-bottom: 0.5rem;
}

.counting .box h3 {
    font-size: 1.8rem;
    color: var(--black);
}

.skill-container {
    padding: 2rem 0;
}

.skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.skill-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    margin-right: 1.5rem;
}

.skill-item .box {
    padding: 1rem 0;
}

.skill-item .box h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .7rem 0;
    font-size: 1.7rem;
    color: var(--black);
    font-weight: 400;
}

.skill-item .box .progress-bar {
    width: 100%;
    background: #222;
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
}

.skill-item .box .progress-bar span {
    display: block;
    height: 100%;
    background: var(--darkgreen);
}

.skill-item.item1 .box:nth-child(1) .progress-bar span {
    width: 95%;
}

.skill-item.item1 .box:nth-child(2) .progress-bar span {
    width: 90%;
}

.skill-item.item1 .box:nth-child(3) .progress-bar span {
    width: 85%;
}

.skill-item.item2 .box:nth-child(1) .progress-bar span {
    width: 75%;
}

.skill-item.item2 .box:nth-child(2) .progress-bar span {
    width: 65%;
}

.skill-item.item2 .box:nth-child(3) .progress-bar span {
    width: 60%;
}

/*--------------------- 5- About Area CSS (End) ---------------------*/


/*--------------------- 6- Services Area CSS (Start) ---------------------*/
.service .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.service-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33rem;
    flex: 1 1 33rem;
    background-color: var(--white);
    padding: 4rem 3rem;
    text-align: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.service-item:hover {
    background-color: var(--darkgreen);
}

.service-item i {
    color: var(--black);
    font-size: 4rem;
}

.service-item h3 {
    font-size: 2rem;
    color: var(--black);
    padding: 1.5rem 0;
}

.service-item p {
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
}

.service-item:hover p {
    color: var(--black);
}

/*--------------------- 6- Services Area CSS (End) ---------------------*/

/*--------------------- 7- Currently Working On (Start) ---------------------*/


.working iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 700px;
    /* Máximo ancho */
    min-width: var(--min-width);
    /* Mínimo ancho */
}

/*--------------------- 7- Currently Working On (End) ---------------------*/

/*--------------------- 8- Contact Area CSS (Start) ---------------------*/
.contact .alert {
    font-size: 2rem;
    color: var(--darkgreen);
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.contact .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.contact-info h3 {
    font-size: 3rem;
    color: var(--black);
}

.contact-info>p {
    font-size: 1.6rem;
    color: var(--grey);
    padding: 0.5rem 0;
}

.contact-info a {
    font-size: 1.6rem;
    color: var(--grey);
}

.contact-info a:hover {
    font-size: 1.6rem;
    color: var(--darkgreen);
}

.contact-info .info-item {
    padding: 1rem 0;
}

.contact-info .info-item div {
    gap: 10px;
}

.contact-info .info-item .gmail,
.contact-info .info-item .linkedin,
.contact-info .info-item .github {
    text-transform: none;
}

.contact-info .info-item h4 {
    font-size: 1.8rem;
    color: var(--black);
}

.contact-info .info-item .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-info .info-item .detail .fas,
.contact-info .info-item .detail .fab {
    border-radius: 50%;
    color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    ;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5rem;
}

.contact-info .info-item .detail p {
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-left: 1rem;
}

.contact-form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.contact-form .box {
    width: 100%;
    text-transform: none;
    color: var(--grey);
    font-size: 1.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 0.5rem 0;
    background-color: #222;
}

.contact-form .box:focus {
    border-color: var(--black);
}

.contact-form .box::placeholder {
    color: var(--grey);
}

.contact-form textarea {
    height: 15rem;
    resize: none;
}

.contact-form .btn {
    margin-top: 1rem;
}

/*--------------------- 8- Contact Area CSS (End) ---------------------*/


/*--------------------- 9- Newsletter Area CSS (Start) ---------------------*/

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup form {display:block; position:relative; text-align:left; margin: 20px}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px; display:grid;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}
#mc_embed_signup .mc-address-fields-group {display:flex; flex-direction:row; justify-content:space-evenly; width:96%; gap:15px;}
#mc_embed_signup .mc-sms-phone-group {display:flex; flex-direction:row; justify-content:space-evenly; width:96%; gap:15px; padding-top:5px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}     
#mc_embed_signup .clear {clear:both;}
#mc_embed_signup .foot {display:grid; grid-template-columns: 3fr 1fr; width:96%; align-items: center;}
@media screen and (max-width:400px) {#mc_embed_signup .foot {display:grid; grid-template-columns: 1fr; width:100%; align-items: center;}}

@media screen and (max-width:400px) {#mc_embed_signup .referralBadge {width:50%;}}

#mc_embed_signup .brandingLogo {justify-self:right;}
@media screen and (max-width:400px) {#mc_embed_signup .brandingLogo {justify-self:left;}}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
#mc_embed_signup .helper_text {color: #8d8985; margin-top: 2px; display: inline-block; padding: 3px; background-color: rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; font-weight: normal; z-index: 1;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:3px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {border:2px solid #e85c41;}


/* CUSTOM */

#mc_embed_signup {
    background: #fff;
    false;

    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    /* Máximo ancho */
    min-width: var(--min-width);
    /* Mínimo ancho */
}

#mc_embed_signup label {
    font-size: 1.6rem;
    color: var(--grey);
}

#mc_embed_signup p {
    font-size: 1.6rem;
    color: var(--grey);
}

#mc_embed_signup input {
    font-size: 1.6rem;
    color: var(--grey);
}

#mc_embed_signup .button {
    clear: both;
    background-color: var(--black);
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: fit-content;
    width: -moz-fit-content;
}

#mc_embed_signup .button:hover {
    background-color: var(--darkgreen);
}

/*--------------------- 9- Newsletter Area CSS (End) ---------------------*/

/*--------------------- 10- Footer Area CSS (Start) ---------------------*/
footer {
    background-color: var(--darkgreen);
    padding: 2rem 0;
    text-align: center;
}

footer .contact-info {
    text-align: center;
}

footer .contact-info p {
    color: var(--white);
}

footer .contact-info .info-item .detail {
    justify-content: center;
}

footer .contact-info .info-item .detail .fa-phone {
    color: var(--white);
}

footer .contact-info .info-item .detail .fa-envelope {
    color: var(--white);
}

footer .contact-info .info-item .detail p {
    color: var(--white);
}

footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 0;
}

footer .social .fab {
    background-color: var(--white);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    color: var(--black);
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0.5rem;
}

footer .social .fab:hover {
    color: var(--white);
    background-color: var(--black);
}

footer .content p {
    font-size: 2rem;
    color: var(--black);
}

footer .content p span {
    color: var(--white);
}

/*--------------------- 10- Footer Area CSS (End) ---------------------*/



/*--------------------- 11- Scroll-Top (Start) ---------------------*/
.scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight: lighter;
    background: var(--white);
    color: var(--black);
    border: 0.2rem solid var(--black);
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.scroll-top:hover {
    background: var(--black);
    color: var(--white);
}

/*--------------------- 11- Scroll-Top (End) ---------------------*/